<div class="question centered">
	<% if @question.picture %>
		<%= image_tag @question.picture.url, :class => "question_picture" %>
	<% end %>
	<h2><%= @question.query %></h2>
	<%= form_for Answer.new, :remote => true do |f| %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :question_id, :value => @question.id %>
		<%= f.text_field :content, :placeholder => "Answer" %><br>
		<%= f.submit :value => "Attempt" %>
	<% end %>
</div>