<div class="login centered">
  <h1>New Question</h1>
  <%= form_for @question do |f| %>
    <div class="field">
      <%= f.text_field :query, :placeholder => "Query" %>
    </div>
    <div class="field">
      <%= f.text_field :answer, :placeholder => "Answer" %>
    </div>
    <div class="field">
      <%= f.file_field :picture %> Optional picture
    </div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>