<div class="four columns alpha">
	<h2> Quick Links </h2>
	<ul>
		<li><%= link_to "New Question", new_question_path %></li>
		<li><%= link_to "Quiz Me!", "#!" %></li>
		<li>You have <%= current_user.points %> points. </li>
	</ul>
</div>
<div class="four columns">
	<h2> All Questions </h2>
	<ul>
	<% Question.all.each do |q| %>
		<li><%= link_to q.preview, answer_question_path(q) %></li>
	<% end %>
	</ul>
</div>
<div class="four columns omega">
	<h2> My Questions </h2>
	<ul>
	<% current_user.questions.each do |q| %>
		<li><%= link_to q.preview, answer_question_path(q) %></li>
	<% end %>
	</ul>
</div>
<div class="four columns">
	<h2> Leaderboard </h2>
	<ul>
	<% @users_by_points.each do |u| %>
		<li><%= u.name %> - <%= u.points %> points</li>
	<% end %>
</ul>
</div>