<div class="centered login">
	<h1>Log in</h1>

	<%= form_tag sessions_path do %>
		<div class="field">
			<%= text_field_tag :login, params[:login], :placeholder => "Username or Email" %>
		</div>
		<div class="field">
			<%= password_field_tag :password, nil, :placeholder => "Password" %>
		</div>
		<div class="actions">
			<%= submit_tag "Log in" %>
		</div>
	<% end %>
	<%= current_user %>
</div>