<div class="login centered">
  <h1>New User</h1>

  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.text_field :email, :placeholder => "Email Address" %>
    </div>
    <div class="field">
      <%= f.text_field :login, :placeholder => "Username" %>
    </div>
    <div class="field">
      <%= f.text_field :name, :placeholder => "Name" %>
    </div>
    <div class="field">
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
    </div>
    <%= f.check_box :admin %> Admin?
    <div class="actions"><%= f.submit %></div>
  <% end %>
</div>