<h2>
	<% if @answer.point_value > 0 %>
		Great job! You answered '<%= @answer.content %>' and got <%= @answer.point_value %> points!
	<% else %>
		Sorry, dude! You answered '<%= @answer.content %>' and lost <%= 0 - @answer.point_value %> points!
	<% end %>
</h2>

<br>

<a href='/'>Take me home</a>