/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.centered {
	margin: auto;
}

.login.centered {
	width: 220px;
	margin-top: 100px;
	text-align: center;
}

.question.centered {
	width: 500px;
	margin-top: 20px;
	text-align: center;
}

.container {
	padding-top: 10px !important;
}

.topbar {
	background-color: black;
	height: 30px;
	color: white;
}

.topbar > .container {
	padding-top: 4px !important;
}

.topbar > .container > * {
	display: inline-block;
}

.topbar .user {
	float: right;
}

.topbar > .container > .user > a {
	color: #ddd;
}

.question_picture {
	width: 300px;
}

.logo > a {
	color: white;
	text-decoration: none;
}

.overlay {
	background-color: white;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	display: none;
}

.overlay .container .content {
	width: 400px;
	margin: auto;
	margin-top: 100px;
	text-align: center;
}

#answer_content {
	display: inline-block;
}