<!DOCTYPE html>
<html>
<head>
  <title>MwhJi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='topbar'>
	<div class="container">
		<div class="logo">
			<%= link_to "MWH-JI Trivia", root_url %>
		</div>
		<% if current_user %>
			<div class="user">
				Logged in as <%= current_user.name %> - <%= link_to "Log Out?", logout_path %>
			</div>
		<% end %>
	</div>
</div>
<div class="overlay">
	<div class="container">
		<div class="content">
			Bob
		</div>
	</div>
</div>
<div class="container">
	<div>
		<%= yield %>
	</div>
</div>

</body>
</html>
